

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    min-width: fit-content;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color:#bab9b9;
  border-bottom: 1px solid #bab9b9;
  margin-bottom: 16px;
  padding-bottom: 5px;

}

.name-text {
  font-size: 17px;
  color:#696868;
  font-weight: bold;
  font-style: italic
}

footer {
  text-align: center;
  background-color: rgb(57, 53, 53);
  color: white;
  font-size: 12px;
  padding:20px;
}

.mainbox {

  width: 900px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebebeb;
  padding: 30px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

section {
  margin-bottom: 34px; 
}

.about-me-text {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.title-text {
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  float: left;
}

.year-text {
  font-size: 13px;
  font-weight: bold;
  color: #282828;
  float: right;
}

.float-wrap {
  overflow: hidden;
}

.desc-text{
  font-size: 9px;
}


.desc-subtext{
  font-size: 9px;
  color: #282828;
  padding-left:16px;
}

.title-box {
  text-align: right;
}


.team {
  color: darkblue;
  text-align: left;
}

.personal {
  color: darkblue;
  text-align: left;
}

.project-name {
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  float: left;
}